body {
    background-image: url(/resources/images/app/texture01.jpg);
    background-size: 100%;

}

.ITA {
    background-image: url(/resources/images/app/ITA_flag.jpg);
    background-size: 100%;

}

.ENG {
    background-image: url(/resources/images/app/ENG_flag.jpg);
    background-size: 100%;

}

.FRA {
    background-image: url(/resources/images/app/FRA_flag.jpg);
    background-size: 100%;

}

.ESP {
    background-image: url(/resources/images/app/ESP_flag.jpg);
    background-size: 100%;

}

.DEU {
    background-image: url(/resources/images/app/DEU_flag.jpg);
    background-size: 100%;

}

button {
    -webkit-border-radius: 4px;
}

button:hover {
    /*background: radial-gradient(#FF0000, #880000);*/
    background: radial-gradient(#77FF00, #00AA00);
    color: white;
    -webkit-border-radius: 10px;
    border-color: #00AA00;
}

.standings-tcell-header:hover {
    /*background: radial-gradient(#FF0000, #880000);*/
    /*background: radial-gradient(#77FF00, #00AA00);*/
    background: radial-gradient(#cdcdcd, #727272);
    color: white;
    -webkit-border-radius: 4px;
    border-color: #00AA00;
}

.MD-selected {
    /*background: radial-gradient(#FF0000, #880000);*/
    background: radial-gradient(#cdcdcd, #727272);
    color: white;
    -webkit-border-radius: 4px;
    border-color: #00AA00;
}

.team-selected {
    /*background: radial-gradient(#FF0000, #880000);*/
    background: radial-gradient(#77FF00, #00AA00);
    color: white;
    -webkit-border-radius: 4px;
    border-color: #00AA00;
}

.standings-tcell-place, .standings-tcell-header, .firstCell {
    /*background-color: #F4F4F4;*/
    background-color: #dddddd;

}

.standings-tcell {
    background-color: #FFFFFF;

}

.standings-tcell, .standings-tcell-place, .standings-tcell-header {
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;

}

.teams-table {

}

.teams-tcell {

}

.teams-buttons {
    height: 40px;
    width: 40px;
    padding: 0;
    -webkit-border-radius: 4px;
}

.GP {
    font-size: 72%;
    align: center;
    display: none;

}

.GP1 {
    font-size: 75%;
    align: right;
    display: none;
}

.place, .cell-img {
    float: left;
}

.MD-selected {
    display: inline-block;
    width: 95%;
}

.show-opponent {
    background: linear-gradient(to right, #77FF00, #00AA00);
    color: white;
    -webkit-border-radius: 4px;
    border-color: #00AA00;
}

td, th {
    -webkit-border-radius: 4px;

}

#tbl02 {
    background-color: #4f5b66;
    -webkit-border-radius: 4px;
    /*border: 1px solid #ccc;*/
}



